.login-main
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .login-main__panel
      .login-main__panel__account
        %pアカウントをお持ちでは無い方はこちら
        %a新規会員登録
      .login-main__panel__form-inner
        -# = f.check_box :remember_me
        = f.label :remember_me

          .login-main__panel__form-inner__text
            -# = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email"

          .login-main__panel__form-inner__password
            -# = f.label :password
            %br/
            = f.password_field :password, autocomplete: "current-password"
          - if devise_mapping.rememberable?

          .login-main__panel__form-inner__submit-btn
            = f.submit "Log in"
            = render "devise/shared/links"











-# %h2 Log in
-# = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"

-#   .field
-#     = f.label :password
-#     %br/
-#     = f.password_field :password, autocomplete: "current-password"
-#   - if devise_mapping.rememberable?

-#     .field
-#       = f.check_box :remember_me私はロボットではありませんに使える
-#       = f.label :remember_me

-#   .actions
-#     = f.submit "Log in"
-# = render "devise/shared/links"

-# ログイン画面