%header.top-header
  .top-header__inner
    .top-header__inner__top
      %h1.top-header__inner__top__icon
        = link_to root_path do
          = image_tag "logo/logo.png", class: "top-header__inner__top__icon__home"
      .top-header__inner__top__searchbox
        .form_for-box
          %input.searchbox-input-text{:name => "key", :placeholder => "キーワードから探す", :value => ""}
          %botton{ class:"search-botton",type: "submit" }
            .top-header__inner__top__searchbox__icon
              = image_tag "icon/icon-search 1.png"

    .top-header__inner__nav
      %ul.top-header__inner__nav__listsleft
        %li.top-header__inner__nav__listsleft__category
          カテゴリー
        %li.top-header__inner__nav__listsleft__brand
          ブランド
      %ul.top-header__inner__nav__listsright
        - if user_signed_in?
          %li.top-header__inner__nav__listsright__mypage
            = link_to "マイページ", users_path, class: "decoration-none"
            -# ログアウトは仮
          %li.top-header__inner__nav__listsright__mypage
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "decoration-none"
        - else 
          %li.top-header__inner__nav__listsright__login
            = link_to "ログイン", new_user_session_path, class: "decoration-none"
          %li.top-header__inner__nav__listsright__new
            = link_to "新規登録", new_user_registration_path, class: "decoration-none"
