.top-footer
  %ul.top-footer__contents
    %li.top-footer__contents__content
      %h2.top-footer__contents__content__head
        FURIMAについて
      %ul
        %li
          = link_to "会社概要（運営会社）", root_path, class: "top-footer-link"
        %li
          = link_to "プライバシーポリシー", root_path, class: "top-footer-link"
        %li
          = link_to "FURIMA利用規約", root_path, class: "top-footer-link"
        %li
          = link_to "ポイントに関する特約", root_path, class: "top-footer-link"

    %li.top-footer__contents__content
      %h2.top-footer__contents__content__head
        FURIMAを見る
      %ul
        %li
          = link_to "カテゴリー一覧", root_path, class: "top-footer-link"
        %li
          = link_to "ブランド一覧", root_path, class: "top-footer-link"

    %li.top-footer__contents__content
      %h2.top-footer__contents__content__head
        ヘルプ＆ガイド
      %ul
        %li
          = link_to "FURIMAガイド", root_path, class: "top-footer-link"
        %li
          = link_to "FURIMAロゴ利用ガイドライン", root_path, class: "top-footer-link"
        %li
          = link_to "お知らせ", root_path, class: "top-footer-link"

  .top-footer__logo
    = link_to image_tag("/assets/logo/logo-white.png"), root_path 

  %p © FURIMA