= render partial: "top-header"
.top-main
  .top-main__image
    .top-main__image__content
      .top-main__image__content__subtitle
        人生を変えるフリマアプリ
      .top-main__image__content__text
        FURIMAはだれでもかんたんに出品・購入できる
      .top-main__image__content__text
        フリマアプリです  
      .top-main__image__content__btn
        = link_to root_path do
          = image_tag "logo/app-store.svg", class: 'app-store-btn'
        = link_to root_path do
          =image_tag "logo/google-play.svg", class: 'google-play-btn'

  .top-main__introduction
    %h2.top-main__introduction__subtitle
      FURIMAが選ばれる3つの理由
    %ul.top-main__introduction__lists
      %li.top-main__introduction__lists__list
        .top-main__introduction__lists__list__pict
          %span.top-main__introduction__lists__list__pict__number 1
          = image_tag "pict/pict-reason-01.jpg"
        %h3.top-main__introduction__lists__list__text
          %span 3分で
          すぐに出品
        .top-main__introduction__lists__list__appeal
          スマホで入力するだけで簡単に出品できる！

      %li.top-main__introduction__lists__list
        .top-main__introduction__lists__list__pict
          %span.top-main__introduction__lists__list__pict__number 2
          = image_tag "pict/pict-reason-02.jpg"
        %h3.top-main__introduction__lists__list__text
          %span シンプル
          で使いやすい
        .top-main__introduction__lists__list__appeal
          めんどくさい入力は必要なく、検索も購入もスムーズ！

      %li.top-main__introduction__lists__list
        .top-main__introduction__lists__list__pict
          %span.top-main__introduction__lists__list__pict__number 3
          = image_tag "pict/pict-reason-03.jpg"
        %h3.top-main__introduction__lists__list__text
          手数料
          %span 業界最安
        .top-main__introduction__lists__list__appeal
          最大3%でお得に出品&購入！

  .top-main__dl
    .top-main__dl__inner
      %h2.top-main__dl__inner__subtitle
        会員数日本一位
      %p.top-main__dl__inner__text
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .top-main__dl__inner__btn
        = link_to root_path do
          = image_tag "logo/app-store.svg", class: 'app-store-btn'
        = link_to root_path do
          = image_tag "logo/google-play.svg", class: 'google-play-btn'

  .top-main__features
    %h2.top-main__features__head
      FURIMAの特徴
    .top-main__features__items
      .top-main__features__items__item
        .top-main__features__items__item__image
          = image_tag "icon/icon-01.png"
        %h3.top-main__features__items__item__subtitle
          簡単に売り買いできる
        %p.top-main__features__items__item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    
      .top-main__features__items__item
        .top-main__features__items__item__image
          = image_tag "icon/icon-02.png"
        %h3.top-main__features__items__item__subtitle
          売上金は即日振込みに対応
        %p.top-main__features__items__item__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!

      .top-main__features__items__item
        .top-main__features__items__item__image
          = image_tag "icon/icon-03.png"
        %h3.top-main__features__items__item__subtitle
          様々な支払いに対応
        %p.top-main__features__items__item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  .top-main__pickup
    %h2.top-main__pickup__head
      ピックアップカテゴリー
    .top-main__pickup__productbox
      .top-main__pickup__productbox__head
        %h3.top-main__pickup__productbox__head__title
          新規投稿商品
          
      .top-main__pickup__productbox__lists
        - @items.each do |item|
          .top-main__pickup__productbox__lists__list
            = link_to item_path(item.id) do
              .top-main__pickup__productbox__lists__list__img
                -# = image_tag item.images
              .top-main__pickup__productbox__lists__list__body
                %h3.top-main__pickup__productbox__lists__list__body__name
                  = item.name
                .top-main__pickup__productbox__lists__list__body__details
                  %ul
                    %li
                      = item.price
                      %span 円
                    %li ★ 0
                  %p
                    (税込)

  .top-main__pickup
    %h2.top-main__pickup__head
      ピックアップブランド
    .top-main__pickup__productbox
      .top-main__pickup__productbox__head
        %h3.top-main__pickup__productbox__head__title
          アーカイバ

      .top-main__pickup__productbox__lists
        - @items.each do |item|
          .top-main__pickup__productbox__lists__list
            = link_to item_path(item.id) do
              .top-main__pickup__productbox__lists__list__img
                -# = image_tag item.images.first.image.url

              .top-main__pickup__productbox__lists__list__body
                %h3.top-main__pickup__productbox__lists__list__body__name
                  = item.name
                .top-main__pickup__productbox__lists__list__body__details
                  %ul
                    %li
                      = item.price
                      %span 円
                    %li ★ 0
                  %p
                    (税込)

= render partial: "top-appbanner"
= render partial: "top-footer"


= link_to  new_item_path do
  .top-exhibit-btn
    %span.top-exhibit-btn__text 出品する
    = image_tag "icon/icon_camera.png"