= render partial: "top-header"

.item-box
  .item-box__name
    = @item.name
  .item-box__wording
    = "#{@item.name}は#{current_user.nickname}さんから出品されました。#{@category.name}の商品で、#{@days.name}されます。"
  .item-box__main-content
    .item-box__main-content__left-photo
    .item-box__main-content__right-table
      %ul 
        %li 出品者
        %h1
          = current_user.nickname
      %ul 
        %li カテゴリー
        %h1
          = @category.name
      %ul 
        %li サイズ
        %h1
          = @size.name
          
      %ul
        %li 状態
        %h1
          = @status.name

  .item-box__price-box
    .item-box__price-box__item-price
      = "#{@item.price}円"
    .item-box__price-box__item-tax
      (税込み)
    .item-box__price-box__item-shipping
      = @cost.name
  .item-box__item-buybtn
  - if user_signed_in? && current_user.id == @item.user_id
  - else
    = link_to '購入画面に進む', ("#"), class: :buybtn
  .item-box__details
    %p
      = @item.description

  - if user_signed_in? && current_user.id == @item.user_id
    = link_to "編集", ("#"), method: :get 
    = link_to '削除', item_path, method: :delete

= render partial: "top-appbanner"
= render partial: "top-footer"