= render partial: "top-header"

.item-box
  .item-box__name
    = @item.name
  .item-box__wording
    = "#{@item.name}は#{@user.nickname}さんから出品されました。#{@category.name}の商品で、#{@item.days}で発送されます。"
  .item-box__main-content
    .item-box__main-content__left-photo
      -# - @images.each do |img|
      -#   = image_tag(img)
    .item-box__main-content__right-table
      %ul 
        %li 出品者
        %h1
          = @user.nickname
      %ul 
        %li カテゴリー
        %h1
          = @category.name
      %ul 
        %li サイズ
        %h1
          = @item.size
          -# テーブルに名前がないから持って来れない
      %ul
        %li 状態
        %h1
          = @item.status
          -# テーブルに名前がないから持って来れない

  .item-box__price-box
    .item-box__price-box__item-price
      = "#{@item.price}円"
    .item-box__price-box__item-tax
      (税込み)
    .item-box__price-box__item-shipping
      = @item.cost
      -# テーブルに名前がないから持って来れない
  .item-box__item-buybtn
    購入画面に進む
  .item-box__details
    %p
      = @item.description

  - if user_signed_in? && current_user.id == @item.user_id
    = link_to '削除', item_path, method: :delete



  - if user_signed_in? && current_user.id == @item.user_id
    = link_to '削除', item_path, method: :delete



= render partial: "top-appbanner"
= render partial: "top-footer"