= render partial: "top-header"

.item-box
  .item-box__name
    = @item.name

  .item-box__wording
    = "#{@item.name}は#{@user.nickname}さんから出品されました。#{@first_category.name}の商品で、#{@days.name}されます。"

  .item-box__main-content
    .item-box__main-content__left-photo
      %ul.slider
        - @item.images.each_with_index do |image, i|
          %li
            = image_tag image.src.url, data: { index: i }, width: "300", height: '300', class: "preview-image"
    .item-box__main-content__right-table
      %ul 
        %li 出品者
        %h1
          = @user.nickname
      %ul 
        %li カテゴリー
        %h1
          = @first_category.name
          %br/
          = @second_category.name
          %br/
          = @third_category.name
      %ul 
        %li サイズ
        %h1
          = @size.name
          
      %ul
        %li 状態
        %h1
          = @status.name

  .item-box__price-box
    .item-box__price-box__item-price
      = "#{@item.price}円"
    .item-box__price-box__item-tax
      (税込み)
    .item-box__price-box__item-shipping
      = @cost.name

  - if user_signed_in? && current_user.id == @item.user_id
    .item-box__btn-box
      = link_to "商品情報を編集する", edit_item_path, method: :get, class: "btn"
      = link_to '出品をやめる', item_path, method: :delete, class: "btn"
  - else
    .item-box__btn-box
      = link_to '購入画面に進む', purchase_index_path(item_id: @item.id), class: "btn"
    .item-box__details
      %p
        = @item.description

= render partial: "top-appbanner"
= render partial: "top-footer"
